@media screen and (min-width: 1200px) {
        
    .container {
        width: 1160px;
    }

/* -----------HEADER----------- */
    .header-contacts {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 40px;
    }
/* ------------HERO------------- */
    .section-hero {
        padding-top: 187px;
        padding-bottom: 188px;
    }
    
    .bg-overlay{
        background-color: var(--navy-blue-color);
        background-image:linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ), url(../images/hero-bg.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .bg-overlay {
      background-image:linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
      ), url(../images/hero-bg-2x.jpg);
    }
}
    
    .title-hero {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--white-color);
        /* max-width: 494px; */
    }
    
    .hero-button {
    margin-top: 48px;
    }
    
    .hero-button:hover,
    .hero-button:focus {
    background-color: var(--ocean);
    border: 1px solid var(--ocean);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    
    .hero-button:active {
        background-color: var(--active-button-color);
        color: var(--white-color);
        border: 1px solid var(--active-button-color);
        border-radius: 4px;
        }
 /* -----------FEATURES------------- */   
    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    } 

    .features-item {
        width: calc((100% - 72px) / 4);
    }

.features-wrap {
display: flex;
gap: 24px;
flex-wrap: nowrap;
}

.features-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: left;
margin-top: 8px;
}

.features-text {
font-weight: 400;
}

/* -----------WORK------------- */

.work-section {
    margin: 0 auto;
    padding-bottom: 120px;
}

.work-title {
    margin-bottom: 72px;
}

.work-list {
    display: flex;
    gap: 24px;
}

.work-item {
border: 1px solid var(--corni-flower-color);
}
/* -----------TEAM------------- */
    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
/* -----------CUSTOMERS------------- */
    .section-customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        width: 100%;
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;
      }

      /*-----------PROJECTS----------- */

      .projects-section {
        margin: 0 auto;
        padding-top: 96px;
        padding-bottom: 120px;
    }

    .projects-item {
        width: calc((100% - 48px) / 3);
    }
/* -----------FOOTER------------- */

.footer-background {
    padding-top: 100px;
    padding-bottom: 100px;
}
      
.footer-container {
        flex-wrap: nowrap;
    }

      .footer-content {
      align-items: flex-start;
       margin-bottom: 0;
       width: 264px;
    }

    .footer-social {
       align-items: flex-start;
        margin-bottom: 0;
        margin-left: 120px;

        width: 208px;
    }

    .footer-form-wrap {
    align-items: flex-start;
    margin-left: 80px;

    }

    .footer-form {
        display: flex;
     
    }

    .footer-button {
        margin-left: 24px;
        margin-right: 0;
        margin-top: 0;
    }
}




